@import 'src/styles/style';

.error-card {
  width: 80%;
  padding: 0.75rem $PADDING;
  color: #b90c1c;
  background-color: #ffdce0;
  border: 1px solid #ff7281;
  border-radius: $BORDER_RADIUS;
  margin: 1rem auto 0;
  opacity: 0.8;
}