@import 'src/styles/style';

.error-card {
  width: 80%;
  padding: 1rem;
  color: #b90c1c;
  background-color: #ffdce0;
  border: 1px solid #ff7281;
  border-radius: .25rem;
  margin: 0 auto;
  opacity: 0.8;
}